<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SupCrowdFunder</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
   <servlet-mapping>
    <servlet-name>Web Application SupCrowdFunder</servlet-name>
    <url-pattern>/SupCrowdFunder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Web Application SupCrowdFunder</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>com.supinfo.supcrowdfunder.rest</param-value>
    </init-param>
  </servlet>
</web-app>